
.why-lyzr-section {
  background: #ffffff;
}

.why-lyzr-wrapper {
  background: #e9e2ff;
}

.why-lyzr-gradient {
  position: relative;
  overflow: hidden;

  background-image: url("https://www.lyzr.ai/wp-content/uploads/2025/08/card-image_1-e1761640349892.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.why-lyzr-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/network-lines.png");
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  pointer-events: none;
}

.why-lyzr-gradient > * {
  position: relative;
  z-index: 1;
}

.img-fluid-abc{
    width:100% !important;
}